#feed
{
	display: flex;
	flex-direction: column;
	max-width: 1080px;
	text-align: justify;
}

#feed p
{
	margin-left: 50px;
}

article
{
	float: left;
	display: block;
	padding: 30px;
}

input[type="button"]
{
	display:block;
}

.usePredefinedFigures input[type="button"]
{
	width: 100%;
}

.generateRegularPolygon
{
	text-align: center;
}

.generateRegularPolygon input
{
    width: 100%;
}

#controls table
{
	margin-bottom: 20px;
	margin-left: 50px;
}

#fieldComputationControls
{
	float: left;
}

#fieldComputationControls td
{
	text-align: center;
}

#fieldComputationControls input[type="button"]
{
    width: 100%;
}

#fieldComputationVal
{
	min-height: 80px;
	float: left;
	padding: 3px;
}

#canvasDiv
{
	float:left; 
    clear: left;
}
